################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DumpTruckManagementSystem/.vs/DumpTruckManagementSystem/FileContentIndex
